
.recorridos .recorrido-link {
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 60px; 
    font-size: 1.5rem;
}

.recorridos .recorrido-link:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.recorridos .recorrido-link h4 {
    margin: 0;
    font-size: 2rem;
}

.recorridos .recorrido-link:focus {
    outline: none;
}


.recorrido-detalle {
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out;
}

.recorrido-detalle h3 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
}

.recorrido-detalle h5 {
    font-size: 1.6rem;
    color: #555;
    margin-bottom: 10px;
}

.recorrido-detalle p {
    font-size: 1.2rem;
    color: #777;
}


@media (max-width: 768px) {
    .recorridos .recorrido-link {
        padding: 40px;
        font-size: 1.2rem;
    }

    .recorrido-detalle {
        padding: 20px;
    }
}
