:root {
    --primary-color: #ffffff !important;
    --secondary-color: #000000 !important;
    --accent-color: #f1c73d !important;
    --text-color: #333333 !important;
    --gray-color: #f0f0f0 !important;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Montserrat', sans-serif !important;
    color: var(--text-color) !important;
    background-color: var(--primary-color) !important;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.navbarra {
    background-color: var(--secondary-color) !important;
    padding: 1rem !important;
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
    z-index: 1000 !important;
    overflow: hidden; 
    white-space: nowrap; 
}

.navbarra ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    flex-wrap: nowrap;
}

.navbarra li {
    margin: 0 1rem !important;
}

.navbarra li a {
    color: var(--primary-color) !important;
    text-decoration: none !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
    transition: color 0.3s ease !important;
}

.navbar li a:hover {
    color: var(--accent-color) !important;
}

.nav-link:hover {
    color: var(--accent-color) !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.container {
    flex: 1; 
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 2rem;
    margin-top: auto; 

}
.social-icons {
    margin-top: 1rem;
}

.social-icons a {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: var(--accent-color);
}

.dropdown-menu {
    background-color: var(--secondary-color);
    border: 1px solid var(--accent-color);
}

.dropdown-item {
    color: var(--primary-color) !important;
}

.dropdown-item:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-color) !important;
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--accent-color);
    color: var(--primary-color);
}

.btn-secondary:hover {
    background-color: var(--gray-color);
    border-color: var(--accent-color);
    color: var(--secondary-color);
}

.dropdown-divider {
    border-top: 1px solid var(--accent-color);
}