{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <h2>Crear Bus</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.patente.label }}<br>
            {{ form.patente }}<br>
            {{ form.patente.errors }}
        </div>
        <div class="mb-3">
            {{ form.num_unidad.label }}<br>
            {{ form.num_unidad }}<br>
            {{ form.num_unidad.errors }}
        </div>
        <div class="mb-3">
            {{ form.fecha_compra.label }}<br>
            {{ form.fecha_compra }}<br>
            {{ form.fecha_compra.errors }}
        </div>
        
        <button type="submit" class="btn btn-primary">Crear Bus</button>
    </form>
    <br>
    <a href="{% url 'buses' %}">Volver a la lista de buses</a>
</div>
{% endblock %}